.calculator__title {

    h1 {
        color: #555555;
        font-size: 6.4rem;
        font-weight: 600;
        letter-spacing: 0.064rem;
        text-align: center;

        @include breakpoint($sm-bp) {
            font-size: 4.2rem;
            letter-spacing: 0.042rem;
            text-align: start;
        }
    }

    p {
        color: var(--black);
        font-size: 2rem;
        font-weight: 500;
        margin-top: 2.5rem;

        @include breakpoint($sm-bp) {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2rem;
        }
    }

    ul {
        display: flex;
        margin-top: 2.5rem;
        align-items: center;
        justify-content: center;

        @include breakpoint($sm-bp) {
            margin-top: 3rem;
            justify-content: space-between;
        }

        li {
            margin-right: 7rem;

            @include breakpoint($sm-bp) {
                margin-right: 1rem;
            }

            div {
                display: flex;
                gap: 0.4rem;
                align-items: flex-end;
                border-bottom: 0.3rem solid var(--gray);

                @include breakpoint($sm-bp) {
                    padding-bottom: 0.4rem;
                }
            }

            &.active {
                margin-right: 5rem;
                padding: 2rem;
                box-shadow: 0px 0.4rem 2.7rem 0px rgba(0, 0, 0, 0.10);

                @include breakpoint($sm-bp) {
                    margin-right: 1rem;
                    padding: 1rem;
                }

                span {
                    display: block;
                }

                div {
                    border-bottom: 0.3rem solid var(--blue);
                }


            }

            p {
                color: #FFD826;
                font-size: 4rem;
                font-weight: 900;
                margin-top: 0rem;

                @include breakpoint($sm-bp) {
                    font-size: 3rem;
                }
            }

            span {
                color: #FFD826;
                font-size: 2.2rem;
                font-weight: 500;
                letter-spacing: 0.022rem;
                line-height: 136%;
                display: none;

                @include breakpoint($sm-bp) {
                    font-size: 1.6rem;
                    line-height: 67%;
                }
            }
        }

        li:last-child {
            margin-right: 0rem;
        }
    }
}


.calculator {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    overflow: hidden;

    @include breakpoint($xl-bp) {
        flex-direction: column;
        gap: 5rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 3rem;
    }
}

.calculator__help {
    form {
        width: 42rem;
        padding: 4rem 2rem;
        border-radius: 2rem;
        background: #F6F6F6;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include breakpoint($cos-bp) {
            width: 37rem;
        }

        @include breakpoint($xl-bp) {
            width: 50rem;
        }

        @include breakpoint($sm-bp) {
            width: 100%;
        }

        p:first-child {
            color: var(--blue);
            font-size: 3rem;
            font-weight: 800;
            letter-spacing: 0.03rem;

            @include breakpoint($sm-bp) {
                font-size: 3.2rem;
                letter-spacing: 0.032rem;
            }
        }

        p:nth-child(2) {
            color: var(--black);
            font-size: 1.8rem;
            font-weight: 400;
        }

        input {
            padding: 2rem;
            background: var(--white);
            color: var(--gray);
            font-size: 1.8rem;
            font-weight: 400;
            border: none;
            outline: none;

            @include breakpoint($sm-bp) {
                font-size: 1.6rem;
            }
        }

        label {
            color: var(--black);
            font-size: 1.2rem;
            font-weight: 400;
        }

        button {
            border-radius: 3rem;
            background: #FFD826;
            box-shadow: 0px 0.4rem 2.3rem 0px rgba(0, 0, 0, 0.30), 0px 0.4rem 0.9rem 0px rgba(0, 0, 0, 0.20) inset;
            width: 29.1rem;
            padding: 2rem 0rem;
            color: #0079C0;
            font-size: 2rem;
            font-weight: 500;
            border: 0rem;
        }
    }
}

.calculator__tabs {

    h2 {
        color: var(--gray);
        font-size: 3.6rem;
        font-weight: 500;
        letter-spacing: 0.036rem;

        @include breakpoint($sm-bp) {
            font-size: 3.2rem;
        }
    }

    form {
        margin-top: 2rem;
    }
}

.calculator__buttons {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 3.4rem;

    @include breakpoint($sm-bp) {
        margin-top: 3rem;
        gap: 5rem;
    }

    button {
        color: var(--white);
        font-size: 2rem;
        font-weight: 500;
        border-radius: 3rem;
        border: none;
        display: flex;
        align-items: center;
        padding: 1.7rem 2rem;
        gap: 3.7rem;
        min-width: 19rem;
        justify-content: center;
        position: relative;

        @include breakpoint($sm-bp) {
            min-width: unset;
            width: 43%;
            font-size: 1.8rem;
            font-weight: 400;
            padding: 1.5rem;
        }

        svg {
            fill: none;
            width: 0.7rem;
            height: 1.6rem;
            position: absolute;
            top: 50%;
        }

        &:first-child {
            border: 0.1rem solid var(--gray);
            background: transparent;
            color: var(--gray);


            svg {
                stroke: var(--gray);
                rotate: 180deg;
                left: 2rem;
                transform: translate(0, 50%);
            }
        }

        &:last-child {
            background: var(--blue);

            svg {
                stroke: var(--white);
                right: 2rem;
                transform: translate(0, -50%);
            }
        }
    }
}

.calculator__tab-container {
    h2 {
        display: none;
    }
}

.calculator__tab-container[data-tab="tab_1"] {
    display: flex;
    gap: 5rem;

    @include breakpoint($sm-bp) {
        flex-direction: column;
        gap: 2rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 39rem;

        @include breakpoint($cos-bp) {
            width: 30rem;
        }

        @include breakpoint($xl-bp) {
            width: 39rem;
        }

        @include breakpoint($sm-bp) {
            width: 100%;
        }


        li {
            display: flex;

            button {
                color: var(--black);
                font-size: 1.8rem;
                font-weight: 400;
                height: min-content;
                font-family: Mulish;
                color: var(--black);
                padding-left: 2rem;
                padding-right: 5rem;
                border: none;
                background: transparent;
                border-left: 0.3rem solid var(--gray);
                transition: all 0.3s linear;
                width: 39rem;
                cursor: pointer;
                border-radius: 0rem;
                text-align: left;

                @include breakpoint($sm-bp) {
                    width: 100%;
                    font-size: 1.6rem;
                }
            }

            div {
                display: none;
            }

            &.active {

                button {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    border-left: 0.3rem solid var(--blue);
                    box-shadow: 0px 0.4rem 2.7rem 0px rgba(0, 0, 0, 0.10);
                }
            }
        }
    }

    .calculator__tab-content {
        width: 59rem;
        overflow: hidden;
        border-radius: 1rem;

        @include breakpoint($cos-bp) {
            width: 50rem;
        }

        @include breakpoint($xl-bp) {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hidden-helper-inp {
        display: none;
    }

}

.calculator__tab-container[data-tab="tab_2"] {
    display: flex;
    gap: 4rem;

    @include breakpoint($cos-bp) {
        flex-direction: column;
    }

    @include breakpoint($sm-bp) {
        gap: 3rem;
    }
}

.calculator__tab-sizes {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    svg {
        width: 91%;
        height: 4rem;
        fill: var(--gray);
        transition: all 0.2s linear;

        &.active {
            fill: var(--blue);
        }

        @include breakpoint($xl-bp) {
            width: 61%;
        }

        @include breakpoint($sm-bp) {
            width: 87%;
            height: 2.1rem;
        }
    }
}

.calculator__tab-sizes-img-container {
    display: flex;
    gap: 2rem;

    div {
        width: 59rem;

        @include breakpoint($sm-bp) {
            width: 30rem;
            height: 16rem;
        }

        svg {
            width: 100%;
            height: 100%;
            fill: transparent;
            stroke: var(--gray);
        }
    }

    svg {
        width: 4rem;
        height: 30rem;
        transition: all 0.2s linear;

        @include breakpoint($sm-bp) {
            width: 2rem;
            height: 16rem;
        }

        &.active {
            fill: var(--blue);
        }
    }
}



.calculator__tab-sizes-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    div {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        input {
            outline: none;
            color: var(--black);
            font-size: 1.8rem;
            font-weight: 400;
            width: 5.4rem;
            border: none;
            border-bottom: 0.1rem solid var(--gray);
            padding-bottom: 0.6rem;
            font-family: Mulish;

            @include breakpoint($sm-bp) {
                font-size: 1.6rem;
            }

            &.--error {
                box-shadow: rgba(255, 0, 0, 0.2) 0px 0.4rem 0.8rem;
            }
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        p {
            color: var(--black);
            font-size: 1.8rem;
            font-weight: 400;

            @include breakpoint($sm-bp) {
                font-size: 1.5rem;
            }

            &:first-child {
                width: 14.5rem;

                @include breakpoint($sm-bp) {
                    width: 11.5rem;
                }
            }
        }
    }
}


.calculator__tab-container[data-tab="tab_3"] {

    .calculator__tab-inner {
        p {
            color: var(--black);
            font-size: 1.8rem;
            font-weight: 400;
        }
    }

    .calculator__tab-inner-img {
        margin-top: 2rem;
        display: flex;
        gap: 2rem;

        @include breakpoint($sm-bp) {
            gap: 1.5rem;
        }

        svg {
            width: 15rem;
            height: 30rem;
            fill: transparent;
            stroke: var(--gray);
            transition: all 0.2s linear;
            cursor: pointer;

            @include breakpoint($sm-bp) {
                height: 20rem;
            }

            &:hover {
                stroke: var(--blue);
            }

            &.active {
                stroke: var(--blue);
            }
        }
    }
}

.calculator__tab-subtab {
    margin-top: 4rem;

    p {
        color: var(--black);
        font-size: 1.8rem;
        font-weight: 400;
    }

    input {
        display: none;
    }
}

.calculator__tab-subtab-main {
    width: 20rem;

    @include breakpoint($sm-bp) {
        width: 100%;
    }
}

.calculator__tab-subtub-content {
    margin-top: 2rem;

}

.calculator__figure {
    width: 15rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // border: 0.1rem solid var(--gray);

    @include breakpoint($sm-bp) {
        width: 10.5rem;
        height: 20rem;
    }

    .calculator__textarea-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        transition: all 0.2s linear;
        // border: 0.1rem solid var(--gray);

        textarea {
            color: var(--black);
            padding-left: 0.7rem;
            padding-right: 0.7rem;
            border-radius: none;
        }

        &:hover {
            background: var(--gray);

            textarea {
                color: var(--white);
            }

            &::before {
                color: var(--white);
            }
        }

        &::before {
            content: "+";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--gray);
            font-size: 4rem;
            z-index: 1;
            transition: all 0.2s linear;
            pointer-events: none;
        }

        &.active {
            background: var(--gray);

            textarea {
                color: var(--white);
            }

            &:before {
                display: none;
            }
        }

        &.--error {
            box-shadow: 0px 0px 1rem rgba(255, 0, 0, 0.534);
        }
    }

    textarea {
        width: 100%;
        height: 100%;
        resize: none;
        outline: none;
        border: none;
        cursor: pointer;
        border: 0.2rem solid var(--gray);
        background: transparent;
        transition: all 0.2s linear;
        text-align: center;
        font-family: Mulish;
        font-size: 1.4rem;
        font-weight: 400;
        padding-top: 70%;
        border-radius: none;


    }


}

.calculator__tab-subtab[data-tab="subtub_2"] {
    .calculator__figure {
        flex-direction: column;
        gap: 1rem;
    }

    .calculator__textarea-wrapper:first-child {
        height: 65%;

        textarea {
            padding-top: 30%;
        }
    }

    .calculator__textarea-wrapper:last-child {
        height: 35%;

        textarea {
            padding-top: 10%;
        }
    }
}

.calculator__tab-subtab[data-tab="subtub_3"] {
    .calculator__figure {
        flex-direction: column;
        gap: 1rem;
    }

    .calculator__textarea-wrapper:last-child {
        height: 65%;

        textarea {
            padding-top: 30%;
        }
    }

    .calculator__textarea-wrapper:first-child {
        height: 35%;

        textarea {
            padding-top: 10%;
        }
    }
}

.calculator__textarea-wrapper-hidden {
    display: none;
}

.calculator__tab-subtab {
    display: flex;
    gap: 5rem;

    @include breakpoint($sm-bp) {
        flex-direction: column;
    }
}

.calculator__first-lvl-subtub {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.calculator__first-lvl-subtub-item {
    display: flex;
    position: relative;
    gap: 5rem;

    @include breakpoint($sm-bp) {
        flex-direction: column;
        gap: 2rem;
        width: 16rem;
    }
}


.calculator__first-lvl-subtub-item-title {
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-left: 0.3rem solid hsla(0, 0%, 55%, 0.4);
    width: 22rem;
    transition: all 0.2s linear;
    cursor: pointer;

    @include breakpoint($sm-bp) {
        width: 100%;
        font-size: 1.6rem;
    }

    span {
        transition: all 0.2s linear;
        padding-left: 2rem;
    }

    &.active {
        border-left: 0.3rem solid var(--blue);

        span {
            padding: 2rem;
        }

        div {
            opacity: 1;

            @include breakpoint($sm-bp) {
                padding: 2rem 0;
            }
        }
    }

    div {
        opacity: 0;
        transition: all 0.2s linear;
        width: 3.6rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: hsla(0, 0%, 55%, 0.4);




        svg {
            width: 2rem;
            height: 3rem;
            fill: transparent;
            stroke: var(--blue);

            @include breakpoint($sm-bp) {
                height: 2rem;
            }
        }
    }
}

.calculator__second-lvl-subtub {
    // display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 120%;
    // width: 22rem;
    display: none;
    background: var(--white);

    @include breakpoint($sm-bp) {
        position: unset;
        // max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

.calculator__second-lvl-subtub-item {
    display: flex;
    gap: 5rem;
    position: relative;

    @include breakpoint($sm-bp) {
        flex-direction: column;
        gap: 2rem;
    }
}


.calculator__first-lvl-subtub-item-subtitle {
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    cursor: pointer;
    transition: all 0.2s linear;

    @include breakpoint($sm-bp) {
        width: 100%;
        font-size: 1.6rem;
    }

    &.active {
        color: var(--blue);
        padding-bottom: 2rem;
        border-bottom: 0.1rem solid var(--gray);

        @include breakpoint($sm-bp) {
            padding-bottom: 1rem;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 1.2rem;
                height: 1.5rem;
                fill: transparent;
                stroke: var(--blue);
            }
        }
    }

    div {
        display: none;
    }
}

.calculator__third-lvl-subtub {
    // display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 20rem;
    position: absolute;
    top: 0;
    left: 120%;
    display: none;
    background: var(--white);

    @include breakpoint($sm-bp) {
        position: unset;
        width: 100%;
    }

    .calculator__third-lvl-subtub-item {
        color: var(--black);
        font-size: 1.8rem;
        font-weight: 400;
        padding-left: 2rem;
        border-left: 0.3rem solid hsla(0, 0%, 55%, 0.4);
        cursor: pointer;
        transition: all 0.2s linear;

        @include breakpoint($sm-bp) {
            font-size: 1.6rem;
        }

        &:hover {
            color: var(--blue);
            border-color: var(--blue);
        }
    }
}

.calculator__tab-result {

    h3 {
        font-size: 3.6rem;

        @include breakpoint($sm-bp) {
            font-size: 3.2rem;
            letter-spacing: 0.032rem;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;

        li {
            border-bottom: 0.15rem solid var(--gray);
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 1rem;

            @include breakpoint($sm-bp) {
                align-items: flex-end;
            }

            p {
                color: var(--black);
                font-size: 2rem;
                font-weight: 500;

                @include breakpoint($sm-bp) {
                    font-size: 1.6rem;
                    line-height: 2rem;
                }
            }

            p:first-child {
                max-width: 70%;

                @include breakpoint($sm-bp) {
                    max-width: 17rem;
                }
            }
        }
    }
}

.calculator__tab-result-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    margin-top: 4rem;

    @include breakpoint($sm-bp) {
        align-items: flex-start;
        margin-top: 4rem;
    }

    p {
        color: var(--black);
        font-size: 1.2rem;
        font-weight: 400;
    }

    div {
        display: flex;
        gap: 3rem;

        @include breakpoint($sm-bp) {
            justify-content: space-between;
            width: 100%;
        }

        p:first-child {
            color: var(--black);
            font-size: 2rem;
            font-weight: 500;

            @include breakpoint($sm-bp) {
                font-size: 1.6rem;
                line-height: 2rem;
                font-weight: 400;
            }
        }

        p:last-child {
            color: var(--blue);
            font-size: 2rem;
            font-weight: 700;
        }
    }
}

.calculator__tab-order-form {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include breakpoint($sm-bp) {
        margin-top: 2rem;
    }

    h3 {
        font-size: 3.6rem;

        @include breakpoint($sm-bp) {
            font-size: 3.2rem;
            letter-spacing: 0.032rem;
        }
    }
}

.calculator__tab-order-form-inputs {
    display: flex;
    width: 100%;
    gap: 2rem;

    @include breakpoint($sm-bp) {
        flex-direction: column;
    }

    input {
        width: 100%;
        color: var(--black);
        font-size: 1.8rem;
        font-weight: 400;
        padding-bottom: 0.8rem;
        border: none;
        outline: none;
        border-bottom: 0.1rem solid var(--black);

        @include breakpoint($sm-bp) {
            padding-bottom: 0.6rem;
        }

    }
}

.calculator__tab-order-form-button {
    display: flex;
    justify-content: space-between;

    @include breakpoint($sm-bp) {
        flex-direction: column;
        gap: 2rem;
    }

    p {
        color: var(--black);
        font-size: 1.2rem;
        font-weight: 400;
        width: 40rem;
    }

    button {
        width: 100%;
        font-size: 1.8rem;
        padding: 1.5rem;
    }
}

.calculator__tab-container[data-tab="tab_4"] {
    margin-top: -2rem;
}

.calculator__tab-subtab-dors-count {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    input {
        display: block;
        outline: none;
        color: var(--black);
        font-size: 1.8rem;
        font-weight: 400;
        width: 100%;
        border: none;
        border-bottom: 0.1rem solid var(--gray);
        padding-bottom: 0.6rem;
        font-family: Mulish;
        direction: rtl;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}