.portfolio {

    ul {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        overflow: hidden;

        @include breakpoint($sm-bp) {
            flex-wrap: nowrap;
            overflow-x: scroll;
        }

        button {
            @include breakpoint($sm-bp) {
                width: max-content;
            }
        }
    }
}

.portfolio__item {

    &:first-of-type {
        margin-top: 4rem;

        @include breakpoint($sm-bp) {
            margin-top: 2rem;
        }
    }
}

.portfilio__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main__about-company-arrows {
        @include breakpoint($sm-bp) {
            display: none;
        }

    }
}

.portfolio__arrows-mobile {
    display: none;
    margin-top: 3rem;

    @include breakpoint($sm-bp) {
        display: flex;
    }

    .main__about-company-arrows {
        justify-content: space-between;
        width: 100%;

        @include breakpoint($sm-bp) {
            button:last-child {
                width: 3.8rem;
                height: 1.8rem;
            }
        }


    }
}

.portfilio__title-container-inner {
    display: flex;
    align-items: flex-end;

    @include breakpoint($xl-bp) {
        flex-direction: column;
        align-items: flex-start;
    }

    p {
        color: var(--mediumGray);
        font-size: 1.8rem;
        font-weight: 400;
        line-height: normal;

        @include breakpoint($sm-bp) {
            font-size: 1.6rem;
        }

        &:first-child {
            color: var(--black);
            font-size: 3.6rem;
            font-weight: 500;
            letter-spacing: 0.036rem;

            @include breakpoint($sm-bp) {
                font-size: 3.2rem;
                letter-spacing: 0.032rem;
            }
        }

        &:last-child {
            font-size: 2rem;
            font-weight: 500;
            margin-left: 2rem;

            @include breakpoint($xl-bp) {
                margin: 0;
            }

            @include breakpoint($sm-bp) {
                font-size: 1.8rem;
            }
        }

        &:nth-child(2) {
            margin-left: 5rem;

            @include breakpoint($xl-bp) {
                margin: 0;
            }

            @include breakpoint($sm-bp) {
                margin-top: 2rem;
            }
        }
    }


}

.portfilio__subtitle-container {
    margin-top: 3rem;
    width: 70%;

    @include breakpoint($xl-bp) {
        width: 100%;
    }

    p {
        color: var(--black);
        font-size: 1.8rem;
        font-weight: 400;

        @include breakpoint($sm-bp) {
            font-size: 1.6rem;
        }
    }
}

.portfolio__swiper {
    margin-top: 3rem;

    a {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

.tab-content {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: scale(0.9);
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .tab-content.--active {
    max-height: 1000px; /* Установите достаточно большое значение */
    opacity: 1;
    transform: scale(1);
  }