<footer class="footer page-padding">
    <a href="#" class="header__logo">
        <svg>
            <use href="#logo"></use>
        </svg>
        <p>Перегородки РФ</p>
    </a>

    <div class="footer__container">
        <ul>
            <li>ООО "Бизнеспрофиль"</li>
            <li>ИНН: 9715357118</li>
            <li>ОГРН: 1197746500951</li>
        </ul>

        <ul>
            <li>
                Меню
            </li>

            <li>
                <a href="#">Каталог</a>
            </li>

            <li>
                <a href="#">Калькулятор</a>
            </li>

            <li>
                <a href="#">Портфолио</a>
            </li>

            <li>
                <a href="#">О нас</a>
            </li>

            <li>
                <a href="#">Контакты</a>
            </li>
        </ul>

        <ul>
            <li>
                Контакты
            </li>

            <li>
                <a href="tel:+74951907037">+74951907037</a>
            </li>

            <li>
                <a href="#">пн - пт: 9:00 - 18:00<br>сб - вс: выходные</a>
            </li>

            <li>
                <a href="mailto:info@peregorodkirf.ru">info@peregorodkirf.ru</a>
            </li>
        </ul>

        <ul>
            <li>
                Филиалы
            </li>

            <li>
                <a href="#">г. Москва, Студеный проезд, д. 4, корп. 1</a>
            </li>

            <li>
                <a href="#">г. Санкт-Петербург, ул. Финляндская, д.24</a>
            </li>

            <li>
                <a href="#">г. Екатеринбург, ул. Софьи Ковалевской, д.3</a>
            </li>

            <li>
                <a href="#">г. Нижний Новгород, пр-т Гагарина, д.168г</a>
            </li>

            <li>
                <a href="#">г. Казань, ул. Журналистов, 2А</a>
            </li>
        </ul>

        <form action="#">
            <p>У вас остались вопросы?</p>

            <input type="text" placeholder="Имя">

            <input type="text" placeholder="Телефон">

            <div>
                <label>Нажимая на кнопку «Заказать звонок», вы даёте согласие на обработку персональных данных</label>
                <button href="#" class="button --active send" data-modal-target="#thanks-modal">
                    Заказать звонок
                </button>
            </div>
        </form>

        <ul>
            <li>
                Все права защищены ©. <a href="#">Политика конфиденциальности</a>
            </li>

            <li>
                Раработка сайта <a href="#">Студия “ЯР</a>
            </li>
        </ul>
    </div>
</footer>

<div id="burger-modal" class="burger-modal modal">
    <div class="burger-modal-content page-padding">

    </div>
</div>

<div id="callBack-modal" class="callBack-modal modal">
    <div class="callBack-modal-content footer__container">
        <span class="close">&times;</span>
        <form action="#">
            <p>У вас остались вопросы?</p>

            <input type="text" placeholder="Имя">

            <input type="text" placeholder="Телефон">

            <div>
                <label>Нажимая на кнопку «Заказать звонок», вы даёте согласие на обработку персональных данных</label>
                <button type="submit" class="button --active send" data-modal-target="#thanks-modal">
                    Заказать звонок
                </button>
            </div>
        </form>
    </div>
</div>

<div id="price-modal" class="price-modal modal">
    <div class="price-modal-content">
        <span class="close">&times;</span>
        <form action="#">
            <p>Рассчитать стоимость</p>

            <div>
                <input type="text" placeholder="Имя">

                <input type="text" placeholder="Телефон">

                <input type="text" placeholder="Ваши пожелания">
            </div>

            <div>
                <label>Нажимая на кнопку «Заказать звонок», вы даёте согласие на обработку персональных данных</label>
                <button type="submit" class="button --active send" data-modal-target="#thanks-modal">
                    Заказать звонок
                </button>
            </div>
        </form>
    </div>
</div>

<div id="timer-price-modal" class="price-modal modal">
    <div class="price-modal-content">
        <span class="close">&times;</span>
        <form action="#">
            <p>Получить рассчет в течении часа</p>

            <div>
                <input type="text" placeholder="Имя">

                <input type="text" placeholder="Телефон">

                <input type="text" placeholder="Ваши пожелания">
            </div>

            <div>
                <label>Нажимая на кнопку «Заказать звонок», вы даёте согласие на обработку персональных данных</label>
                <button type="submit" class="button --active send" data-modal-target="#thanks-modal">
                    Заказать звонок
                </button>
            </div>
        </form>
    </div>
</div>

<div id="thanks-modal" class="price-modal modal">
    <div class="price-modal-content">
        <span class="close">&times;</span>
        <form action="#">
            <p>Спасибо!</p>

            <span>Ваша заявка успешно принята, и мы уже начали ее обработку. Наш менеджер свяжется с вами в ближайшее время для уточнения деталей.</span>
        </form>
    </div>
</div>